.logo-academy {
  color: #000000;
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-primary-hover;
    outline: none;
  }

  &:active {
    color: $color-primary;
  }
}

.logo-academy__text {
  font-size: 11px;
  line-height: normal;
  padding-top: 8px;
}

.logo-academy__icon {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo-academy__text {
    font-size: 16px;
  }

  .logo-academy__icon {
    width: 26px;
    height: 32px;
  }
}
