.radio {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radio__item {
  padding-left: 35px;
  margin-bottom: 23px;

  &:first-child {
    padding-right: 43px;
  }
}

.radio__word {
  display: inline-block;
  margin-left: 5px;
}

.radio__input:focus ~ .radio__label::before,
.radio__input:focus-visible ~ .radio__label::before {
  border-color: $color-primary-hover;
}

.radio__input:focus ~ .radio__label::after,
.radio__input:focus-visible ~ .radio__label::after {
  background-color: $color-primary-hover;
}

.radio__input:active ~ .radio__label::before {
  border-color: rgba(123, 219, 10, 0.5);
}

.radio__input:active ~ .radio__label::after {
  background-color: rgba(123, 219, 10, 0.5);
}

.radio__input:disabled ~ .radio__label::before {
  border-color: rgba(142, 152, 146, 0.7);
}

.radio__label {
  position: relative;
  display: inline-block;
  min-height: 24px;
  padding-top: 9px;
  max-width: 191px;
  cursor: pointer;

  &:hover::before,
  &:focus::before,
  &:focus-visible::before {
    border-color: $color-primary-hover;
  }

  &:hover::after,
  &:focus::after,
  &:focus-visible::after {
    background-color: $color-primary-hover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -34px;
    display: inline-block;
    width: 22px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid $color-primary;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 33px;
    left: -27px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-primary;

    .radio__input:checked ~ & {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .radio {
    display: grid;
    grid-template-columns: 205px 255px;
    column-gap: 24px;
  }

  .radio__label {
    font-size: 18px;
    line-height: 22px;
    max-width: 232px;

    &::before {
      top: 31px;
    }

    &::after {
      top: 37px;
      left: -27px;
    }
  }

  .radio__item:first-child {
    padding-right: unset;
  }
}

@media (min-width: $desktop-width) {
  .radio {
    grid-template-columns: 276px 360px;
  }

  .radio__label {
    max-width: 330px;

    &::before {
      top: 20px;
      left: -35px;
    }

    &::after {
      top: 27px;
      left: -28px;
    }
  }

  .radio__word {
    margin-left: unset;
  }
}
