.user {
  border: none;
  margin: 0;
  padding: 0;
}

.user__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user__caption {
  margin-bottom: 33px;
}

.user__item {
  margin-bottom: 38px;
}

