.catalog__caption {
  margin-bottom: 71px;
  padding: 0 15px;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.catalog__card {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 264px 264px;
    //margin-bottom: 76px;
    column-gap: 52px;
    row-gap: 28px;
    width: 580px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 264px);
    column-gap: 24px;
    row-gap: 28px;
    width: 1128px;
  }

  .catalog__caption {
    margin-bottom: 89px;
  }
}
