.promo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.promo-list__item {
  padding-left: 40px;
  margin-bottom: 20px;
}

.promo-list__item--leaf {
  position: relative;

  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#leaf");
    width: 25px;
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.promo-list__item--ice {
  position: relative;

  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#ice");
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 20px;
  }
}

.promo-list__item--delivery {
  position: relative;

  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#delivery");
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: -2px;
    top: 5px;
  }
}

@media (min-width: $tablet-width) {
  .promo-list__item {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;

    &--ice::before {
      top: 11px;
    }

    &--delivery::before {
      left: -4px;
      top: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-list__item {
    line-height: normal;
    max-width: 461px;
  }
}
