.button {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  background-color: $color-secondary;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 40px;
  color: #fbfcfe;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-secondary-hover;
    outline: none;
  }

  &:active {
    background-color: rgba(106, 16, 122, 0.6);
  }

  &--disabled,
  &:disabled {
    color: rgba(142, 152, 146, 0.3);
    background-color: rgba(142, 152, 146, 0.3);
    cursor: auto;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-color: rgba(142, 152, 146, 0.3);
    }
  }

  &--big {
    width: 264px;
    box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);
    padding: 16px 10px;
  }

  &--middle {
    width: 220px;
    padding: 14px 10px;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--big {
      width: 336px;
      font-size: 28px;
      letter-spacing: 1.4px;
      padding: 16px 10px 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--big {
      width: 336px;
    }
  }
}
