.form-group {
  &::before {
    content: "";
    width: 228px;
    height: 32px;
    display: block;
    background-image: url("../../images/icons/stack.svg#branches");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 51px;
  }
}

.form-group__type {
  margin: 0 auto 34px;
}

.form-group__storage {
  margin: 0 auto 15px;
}

.form-group__delivery {
  margin: 0 auto 9px;
}

.form-group__user {
  margin: 0 auto 2px;
}

.form-group__button {
  margin: 0 auto;
  padding: 16px 10px 16px 2px;

  &:not(:first-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .form-group {
    &::before {
      width: 296px;
      height: 42px;
      margin-bottom: 72px;
    }
  }

  .form-group__type {
    margin-bottom: 49px;
  }

  .form-group__storage {
    margin-bottom: 31px;
  }

  .form-group__delivery {
    margin: 0 auto 22px;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    width: 842px;
    padding: 0 26px;


    &::before {
      margin-bottom: 62px;
    }
  }

  .form-group__type {
    margin: 0 0 56px;
  }

  .form-group__user {
    margin: 0 0 10px;
  }

  .form-group__button {
    padding: 17px 10px 18px 9px;
  }
}
