@media (max-width: $mobile-width-only) {
  .header__nav {
    margin: 0 auto;
  }
}

.header {
  background-color: $color-backround;
  z-index: 2;
  position: relative;
}

@media (min-width: $tablet-width) {
  .header {
    box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);
    padding-bottom: 20px;
  }

  .header__nav {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-bottom: 22px;
  }
}
