.logo {
  display: inline-block;
  color: $color-primary;

  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-primary-hover;
    outline: none;
  }

  &:active {
    color: rgba(15, 128, 93, 0.5);
  }

  &--disabled {
    color: rgba(142, 152, 146, 0.3);
    cursor: auto;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      color: rgba(142, 152, 146, 0.3);
    }
  }
}

.logo__berry {
  display: inline-block;
  margin-top: -2px;
}


@media (max-width: $mobile-width-only) {
  .logo__text {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 0;
    display: flex;
    column-gap: 8px;
  }

  .logo__berry {
    width: 58px;
    height: 60px;
    margin-top: -7px;
  }
}
