.logo-academy {
  color: #000000;
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-primary-hover;
    outline: none;
  }

  &:active {
    color: $color-primary;
  }

  &--disabled {
    color: rgba(142, 152, 146, 0.3);
    cursor: auto;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      color: rgba(142, 152, 146, 0.3);
    }
  }
}

.logo-academy__text {
  font-size: 11px;
  line-height: normal;
  padding-top: 11px;
  max-width: 83px;
}

.logo-academy__icon {
  display: block;
  margin-top: 5px;
}

@media (min-width: $tablet-width) {
  .logo-academy {
    padding-top: 5px;
    column-gap: 7px;
  }

  .logo-academy__text {
    font-size: 16px;
    max-width: 120px;
  }

  .logo-academy__icon {
    width: 26px;
    height: 32px;
  }
}
