.main {
  flex-grow: 1;
  background-color: #fbfcfe;

  &--form {
    background-color: #ffffff;
  }
}

.main__promo {
  margin-bottom: 60px;
}

.main__catalog {
  margin-bottom: 64px;
}

.main__news {
  margin-bottom: 21px;
}

.main__contacts {
  margin-bottom: 57px;
}

.main--form .main__contacts {
  margin-bottom: 64px;
}

@media (min-width: $tablet-width) {
  .main__promo {
    margin-bottom: 102px;
  }

  .main__catalog {
    margin-bottom: 76px;
  }

  .main__contacts {
    margin-bottom: 100px;
  }

  .main__news {
    margin-bottom: 62px;
  }

  .main--form .main__contacts {
    margin-bottom: 100px;
  }
}

@media (min-width: $desktop-width) {
  .main__catalog {
    margin-bottom: 76px;
  }

  .main__news {
    margin-bottom: 26px;
  }

  .main__contacts {
    margin-bottom: 81px;
  }

  .main--form .main__contacts {
    margin-bottom: 81px;
  }
}
