@media (max-width: $mobile-width-only) {
  .nav {
    margin: 0 auto;
    min-height: 77px;

    &--opened .toggle {
      width: 35px;
      height: 35px;

      &:focus-visible {
        outline: none;
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgba(15, 128, 93, 0.75);
        opacity: 0.75;
        position: absolute;
        z-index: 2;
        top: calc(50% - 2px);
        left: 0;
        transform: rotate(45deg);
        box-shadow: none;
        border-radius: 5px;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgba(15, 128, 93, 0.75);
        opacity: 0.75;
        position: absolute;
        z-index: 2;
        top: calc(50% - 2px);
        left: 0;
        transform: rotate(-45deg);
        border-radius: 2px;
      }

      &:hover::before,
      &:hover::after,
      &:focus::before,
      &:focus::after,
      &:focus-visible::before,
      &:focus-visible::after {
        background-color: $color-primary-hover;
        box-shadow: none;
        outline: none;
      }

      &:active::before,
      &:active::after {
        opacity: 0.3;
      }
    }

    &--opened .nav__button {
      top: 17px;
      right: 25px;
      position: absolute;
    }

    &--opened .nav__list {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 59px;
      background-color: #f1f6fc;
      min-height: 369px;
      min-width: 320px;
      margin: 0 auto;
      padding-top: 32px;
    }

    &--closed {
      min-height: 68px;
    }

    &--closed .toggle {
      width: 44px;
      height: 30px;
      position: absolute;
      top: 19px;
      right: 29px;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: $color-primary;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        box-shadow: 0 12px 0 0 $color-primary, 0 24px 0 0 $color-primary;
        border-radius: 5px;
      }

      &:hover::before {
        background-color: $color-primary-hover;
        box-shadow: 0 12px 0 0 $color-primary-hover, 0 24px 0 0 $color-primary-hover;
      }

      &:active::before {
        background-color: rgba(123, 219, 10, 0.3);
        box-shadow: 0 12px 0 0 rgba(123, 219, 10, 0.3), 0 24px 0 0 rgba(123, 219, 10, 0.3);
      }
    }

    &--closed .menu {
      display: none;
    }

    &--closed .logo {
      padding: 10px 26px 4px;
    }

    &--closed .nav__logo {
      margin: 0;
    }

    &--closed .nav__wrapper {
      min-height: 68px;
    }
  }

  .nav__logo {
    margin-left: 26px;
    margin-top: 10px;
  }

  .nav__wrapper {
    box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);
    position: relative;
    z-index: 2;
  }

  .nav__logo-wrapper {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    min-height: 68px;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    display: grid;
    grid-template-columns: 133px 1fr;
    width: 716px;
    column-gap: 77px;
    margin: 0 auto;
  }

  .nav__logo {
    margin-top: 28px;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 1092px;
    grid-template-columns: 135px 1fr;
    column-gap: 316px;
  }

  .nav__logo {
    margin-top: 30px;
    margin-left: -17px;
  }
}
