.news {
  &::before {
    content: "";
    width: 228px;
    height: 32px;
    display: block;
    background-image: url("../../images/icons/stack.svg#branches");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 65px;
  }
}

.news__caption {
  margin-bottom: 64px;
  padding: 0 15px;
}

.news__list {
  margin: 0 auto;
  width: 268px;
  padding: 0;
  list-style-type: none;
}

.news__text {
  margin: 0 0 18px;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  min-height: 174px;

  .news-card--mix & {
    padding-right: 0;
  }
}

.news__date {
  display: block;
  margin-left: auto;
  width: 90px;
  font-size: 14px;
}

.news__card:not(:last-child) {
  margin-bottom: 24px;
}


@media (min-width: $tablet-width) {
  .news {
    &::before {
      width: 296px;
      height: 42px;
      margin-bottom: 73px;
    }
  }

  .news__caption {
    margin-bottom: 72px;
  }

  .news__list {
    display: grid;
    row-gap: 34px;
    grid-template-columns: 348px 348px;
    column-gap: 20px;
    width: 717px;
    margin-bottom: 0;
  }

  .news__card {
    &:not(:last-child) {
      margin-bottom: unset;
    }

    &:nth-child(3n+3) {
      grid-column: 1/-1;
      margin-left: calc(50% - 179px);
    }
  }

  .news__text {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 19px;
    min-height: 185px;
    margin-bottom: 27px;
  }

  .news__date {
    font-size: 16px;
    line-height: 20px;
    width: 119px;
  }
}

@media (min-width: $desktop-width) {
  .news {
    &::before {
      margin-bottom: 98px;
    }
  }

  .news__list {
    grid-template-columns: 360px 361px 360px;
    column-gap: 22px;
    width: 1129px;
  }

  .news__caption {
    margin-bottom: 98px;
  }

  .news__card:nth-child(3n+3) {
    grid-column: unset;
  }
}
